<% content_for :table_filter_title do %>
  Choose a homepage
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_orders_index_search" class="columns six">
    <input type='text' id='homepage_id' />
  </div>
  <div class="columns six">
    <a href='#' id='edit_homepage_link' class='button' style='display:none'>Edit</a>
  </div>
<% end %>

<%= render partial: 'spree/admin/shared/product_sub_menu' %>
<span id='sorting_explanation' style='display:none'><%= Spree.t(:click_and_drag_on_the_products_to_sort_them) %></span>
<ul id='homepage_products'></ul>

<%= render partial: 'spree/admin/products/autocomplete', formats: :js %>
