<div class='row'>
	<div class="alpha four columns">
		<%= f.label :stores, Spree.t(:stores)%><br />
		<%= f.collection_select :store_ids, Spree::Store.all, :id, :name, {}, {:multiple => true, class: 'select2 fullwidth'} %>
	</div>
</div>
